# Server
NODE_ENV=development
# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=whatsapp_system

# CORS
FRONTEND_URL=http://localhost:5173
PORT=3001
# Session
SESSION_SECRET=supersecretkey123
GEMINI_API_KEY=AIzaSyCQgfDPKIpbSmeRUQKskdqGj2ApfLuO-UM
